.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.box {
  width:400px;
  border: 2px solid #999;
  padding: 10px;
  margin-top: 73px;
  left:35%;
  right: 20%;
  position: absolute;
}
.box1 {
  width:425px;
  padding: 10px;
  margin-top: 48px;
  left:34.4%;
  right: 20%;
  position: absolute;
}

.box2{
  width:425px;
  padding: 10px;
  margin-top: 408px;
  left:33%;
  right: 20%;
  position: absolute;
}

.box3{
  margin-right: 220px;
}

#bg-orange{
background-color: #F76300!important;
}

#cash{
  font-size: 25px;
  width:150px;
  height: 50px;
}

.buttonContent{
  text-align: left;
  margin-left: 5%;
  margin-top: 20px;
}

h5 {
  text-align: left;
  margin-left: 5%;
  margin-right: 10%;
  line-height: 1.6!important;
  color:#999;
}

.button1{
  margin-left: 30px!important;
  margin-top: -10px!important;
  height:50px;
  width:150px;
  background-color:#59C259!important; 
}

.button2{
  margin-left: 40px!important;
  margin-top: -10px!important;
  height:50px;
  width:150px;
  background-color:#F7F7F7!important; 
  border: 2px solid #999!important;
}

.textLink {
  text-align: left!important;
  margin-left: -20px!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
